{% extends "base.html" %}
{% load static %}

{% block title %}Ranking{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Ranking mejores apostadores</h1>
      <table class="table">
        <caption>Mejores apostadores</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario, puntos in ranking %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ usuario }}</td>
              <td>{{ puntos }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

